/* phone responsive */
@media screen and (max-width: 576px){
    main{
        padding: 0 6px;
    }

    img{
        width: 100% !important;
        height: auto;
    }
    .col-50{
        width: 100%;
    }
    .container{
        width: 100%;
        flex-direction: column;
    }
    .container:hover{
        transform: rotate(0deg);
    }
    .home-content{
        padding: 50px 60px;
        text-align: center;
    }

    .home-content h1{
        font-size: 40px;
        line-height: 50px;
        
    }
    .home-content p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .home-images{
        width: 80%;

    }
    .home-right{
        display: flex;
        justify-content: center;
    }
    
    /* home section media css end */

    /* play blog section start */
    .aside-container{
        width: 100%;
        margin: 0 auto;
    }
    .site-blog{
        text-align: center;
        background: #FFFFFF;
        
    }
    .site-blog .blog-btn a{
        border: 2px solid #d7d2d2;
    }

    .blog-container{
        width: 100%;
        flex-direction: column;
        
    }
    .play-blog{
        height: 5550px;
        margin: 0;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    /* play blog section start */

    /* foter section css start  */
    .footer-sec{
        width: 100%;
        padding: 20px 0;
    }
    .nav{
        
        text-align: center;
    }
    .nav ul{
        flex-direction: column;
        padding: 0;
    }
    .nav ul li{
        margin-right: 0;
        margin: 15px 0;
        
    }

    /* foter section css start  */

    /* others blog-page section start */
    .blog-container2{
        width: 100%;
        flex-direction: column;
    }
    .play-blog2{
        height: 2600px;
        margin: 0;
    }

    /* others blog-page section end */
}

/* tablet media css start */

@media screen and (min-width: 577px) and (max-width: 992px){
    main{
        padding: 0 12px;
    }
    
    img{
        width: 100%;
        height: auto;
    }
    /* home section css start */
    .container{
        width: 100%;
        
    }
    .container:hover{
        transform: rotate(1deg);
    }
    .col-50{
        width: 100%;
    }

    .home-content{
        padding: 80px 70px 80px 80px;
        
    }
    .home-content h1{
        font-size: 43px;
        line-height: 51px;
    }

    /* home section css end */

    /* player blog section css start */
    .aside-container{
        width: 100%;
        margin: 5px  auto;
        
    }
    .site-blog{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        margin-top: 50px;
        padding: 15px 0;
    }

    .site-blog .blog-btn a{
         margin: 0 3ex;
         border: 2px solid #d7d2d2;
         padding: 15px 50px;
    }

    .play-blog{
        height: 2000px;
        margin: 0;
        
    }

    .playboy{
        display: none;
    }

    .blog-container{
        width: 100%;
        flex-direction: column;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .players-btn0{
        display: block;
    }
    /* player blog section css start */

    /* others blog-page section start */

    .blog-container2{
        width: 100%;
        flex-direction: column;
    }
    .play-blog2{
        height: 1350px;
        margin: 0;
    }

    /* others blog-page section start */

    /* footer section css start */
    .footer-sec{
        width: 100%;

    }
    .nav ul li{
        
        margin-right: 2ex;
        
    }

    /* footer section css start */
}
