/* google font here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* commons styles and utility */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    border-radius: 30px;
    transition: transform 5s;
}

.blog-container{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    height: 1500px;
}

.aside-container{
    width: 304px !important;
    margin-right: 10px;
    
}

#mainBlogContainer{
    flex-grow: 1;
}

.col-50{
    width: 50%;
}

img{
    width: 100%;
    height: auto;
}

/* main css style state */

/* =======home css start======= */
.container:hover{
    transform: rotate(3deg);
}

.home-content{
    padding: 100px 130px 100px 90px;
    
}
.home-content h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    margin: 0;

}
.home-content p{
    /* width: 300px; */
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
    padding-right: 20px;

}

/* btn animation kora hoase akhane */

.home-content .home-btn{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 25px;
    background: #DD0000;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
    /* transform: scale(0.5); */

}
.home-content .home-btn span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.home-content .home-btn span::after{
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.home-content .home-btn:hover span{
    padding-right: 25px;

}
.home-content .home-btn:hover span::after{
    opacity: 1;
    right: 0;

}
.home-right{

    padding: 20px 20px 0 0 ;

}
.home-images img{
    display: block;
   
}

/* =======home css end======= */

/* =======player-blog css start======= */

.site-blog{
    background: #161616;
    border-radius: 10px;
    padding: 30px;
}

.site-blog .blog-btn a{
    text-decoration: none;
     background: #FFFFFF;
     border-radius: 10px;
     padding: 17px 35px;
     color: #161616;
     font-size: 20px;
     font-weight: 500;
     text-transform: capitalize;
     display: inline-block;
     margin: 15px 0;
}
.site-blog .blog-btn .select-btn {
    background: #DD0000;
    color: #ffffff;
}

.play-blog{
    height: 1430px;
    margin: 100px 0;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.players .player{
    border: 1px solid #d2cfcf;
    border-radius: 20px;
}

.player .blog-details{
    padding: 20px 20px;
}

.player .blog-inbtn a{
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border: 2px solid #161616;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;

}
.blog-footer .fristsec{
    color: rgba(22, 22, 22, 0.7);

}
.fristsec .timing-hour{
margin-right: 60px;

}
.fristsec .timing-hour i{
margin-right: 10px;

}
.fristsec .message-icon i{
    margin-right: 10px;
    
}

.players-btn0{
    text-align: center;
    display: none;
    
}
.players-btn0 a{
    text-decoration: none;
     background: #DD0000;
     border-radius: 10px;
     padding: 17px 35px;
     color: #ffffff;
     font-size: 20px;
     font-weight: 500;
     text-transform: capitalize;
     display: inline-block;
     margin-top: 80px;

}

.players-btn0 a:hover{
    background: #161616;
    color: #ffffff;
}

/* =======player-blog css end======= */

/* =======footer css start======= */

.footer-sec{
    width: 100%;
    background: #161616;
    padding: 100px 0;
}

.footer-content{
    text-align: center;
    color: #FFFFFF;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}
.nav ul{
    list-style: none;
    display: flex;

}
.nav ul li{

    margin-right: 40px;

}
.nav ul li a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;

}

.font-icon{
    display: flex;
    justify-content: center;
}
.font-icon i{
    font-size: 20px;
    color: #ffffff;
    margin: 0 10px;
    
}
/* =======footer css end======= */


/* =======Others page  css start======= */
/* =======Others page  css start======= */
.play-blog2{
    height: 500px;
    margin: 100px 0;
}
.blog-container2{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    height: 500px;
}

.blogImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.varses{
    margin: 0 10px;
}
.blogImage img{
    width: 40%;
    height: auto;
}
.others-page{
    padding: 25px;
}
.others-content{
    text-align: center;

}
.others-content h2{
    font-size: 22px;
}

/* =======Others page css end======= */
/* =======Others page css end======= */








